@mixin window-style($width: 100%) {
    width: $width;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: rgba(32, 33, 36, 0.8);
}

// @mixin standard-animation($duration: 0.2s) {
//     -webkit-transition: all $duration ease-in-out;
//     -o-transition: all $duration ease-in-out;
//     transition: all $duration ease-in-out;
//   }