.main {
    display: inline-block;
    padding: 7px 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(21, 95, 117);
    border: none;
    border-radius: 10px;
    font-family: "Nerko One", cursive;
    font-style: normal;
    font-size: 20px;
    // box-shadow: 0 3px #999;

    &:hover{
        background-color:rgba(21, 95, 117, 0.748);
        // opacity: 0.5;
    }

    &:active{
        background-color: rgba(21, 94, 117, 1);
        box-shadow: 0 3px #666;
        transform: translateY(4px);
      }
    
    &:disabled {
        opacity: 0.9;
    }
}


