.main{
    @include window-style();
    
    h2 {
        margin-bottom: rem(10px);
        color: white;
        font-family: "Dancing Script";
        font-optical-sizing: auto;
        font-size:45px;
        font-weight: 800;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
}