.main {
    h3 {
        margin-bottom: rem(5px);
        color: white;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 25px;
    }

    input {
        padding: rem(5px) rem(10px);
        border: rem(1px) solid var(--color-20);
        border-radius: rem(10px);

        width: 100%;
        max-width: 500px;
        min-width: 300px;

    }
}